:root{
    --main: rgb(74, 144, 172);
}
body{
    display: flex;
    justify-content: center;
}
section{
    width: 800px;
    text-align: center;
}
#error-data{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}
.p{
    background-color: rgba(238, 15, 15, 0.372);
    color: rgb(58, 21, 21);
    padding: 10px 0;
}
h1{
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 16px;
}
.add-div{
    display: flex;
    justify-content: center;
}
input{
    font-size: 20px;
    width: 650px;
    padding: 5px 10px;
    font-weight: 100;
    border: 2px solid var(--main);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    z-index: 2;
}
input:focus{
    outline: 3px solid rgb(143, 205, 51);
}
.add-div button{
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--main);
    color: var(--main);
    font-weight: 100;
}
.add-div button:focus{
    outline: 3px solid rgb(143, 205, 51);
}
.add-div button:hover{
    background-color: var(--main);
    color: black;
    cursor: pointer;
}
#clear-btn{
    font-size: 16px;
    padding: 8px 14px;
    border: 2px solid var(--main);
    border-radius: 5px;
    color: var(--main);
    cursor: pointer;
}
#clear-btn:focus{
    outline: 3px solid rgb(143, 205, 51);
}
#adding-data{
    margin: 40px 0;
}
.adding-data-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.span{
    font-size: 20px;
}
.span2 i{
    margin: 0 10px;
    cursor: pointer;
}
.x-btn{
    color: red;
    cursor: pointer;
    margin: 0 10px;
}
#clear-btn:hover{
    color: black;
    background-color: var(--main);
}